
.ajaxbg {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: rgba(255, 255, 255, .8); */
    background-color: red;
    z-index: 2;
    display: none;
}
.ajaxinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.paypal {
    position: absolute;
    left: -3000px;
}